<form id="test_form" data-remote="true" method="post" action="<%= testajax_path %>" >
  <p>This form gets replaced by the ajax js result. </p>
  <p>Random-ID <%= rand(10000..99999) %></p>
  <input type="submit" value="Test Submit" data-disable-with="Loading" >
</form>